/target
.env
.env.cutover
.env.prod
.idea
.DS_Store
/tools/api-load-tester/target/
/tools/api-load-tester/reports
/tools/db-migrator/target/
/dev-data/mock-prod/*
!/dev-data/mock-prod/.gitkeep

# Nix
.direnv/
result
result-*
